@model MailVM
@{
    ViewData["Title"] = "Send Mail";

}

<h2 class="badge rounded-pill bg-secondary p-2 mt-2">Send Mail</h2>
<h2 class="badge rounded-pill bg-secondary p-2 mt-2">@TempData["Msg"]</h2>



<!--Section: Mail-->

<form asp-controller="Mail" asp-action="SendMail" class="m-0 p-0" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="container text-center font-bold red-text" style="display:flex ;">

    </div>

    <div style="margin:30px auto" class=" mt-8">

        <label asp-for="Name">Your name</label>
        <input type="text" asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger font-bold"></span>

        <br /><br />
        <label asp-for="FromEmail">Your email</label>
        <input type="text" asp-for="FromEmail" class="form-control" placeholder="Use Your OutLook Mail To Send Any Message" value="" autocomplete="off">
        <span asp-validation-for="FromEmail" class="text-danger font-bold"></span>
        <br />
        <br />
        <label asp-for="Password">Password</label>
        <input type="password" asp-for="Password" class="form-control" placeholder="Password From Email">
        <span asp-validation-for="Password" class="text-danger font-bold"></span>
        <br />
        <br />
        <label asp-for="ToEmail">To email</label>
        <input type="email" asp-for="ToEmail" class="form-control" placeholder="To Email">
        <span asp-validation-for="ToEmail" class="text-danger font-bold"></span>
        <br />
        <br />


        <label asp-for="Subject" class="">Subject</label>
        <input type="text" asp-for="Subject" class="form-control">
        <span asp-validation-for="Subject" class="text-danger font-bold"></span>

        <br />
        <br />

        <label asp-for="Message">Your message</label>
        <textarea type="text" asp-for="Message" name="message" rows="2" class="form-control md-textarea"></textarea>
    </div>

    <br />
    <br />
    <div>
        <label>Attachments</label>

        <input type="file" name="attachments" multiple="multiple" />
    </div>
    <center>
        <br />
        <button type="submit" class="btn btn-success  " style="padding:20px;width:200px;margin-bottom:40px; height:30px;display:flex;align-items:center;justify-content:center;border-radius:8px">Send</button>
    </center>
</form>



<script>
    var x = document.getElementById("dd");
    x.style.display = "block";

        x.innerHTML = `@TempData["Msg"]`;
</script>






@section Valdiation{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}