@model DepartmentVM
@{
    ViewData["Title"] = "Create";
}

<div class="block-header">
    <h2 >Create Department</h2>
</div>

<form asp-controller="Department" asp-action="Create"  class="form-group">
    <div asp-validation-summary="All" class="text-danger font-bold"></div>
  <div class="form-group">
    <label asp-for="Name">@SharedLocalizer["DN"]</label>
    <input type="text" class="form-control" asp-for="Name" autocomplete="off" >
    <span asp-validation-for="Name" class="text text-danger font-bold"></span>
  </div>
  <div class="form-group">
    <label asp-for="Code">@SharedLocalizer["DC"]</label>
    <input type="text" class="form-control" asp-for="Code" autocomplete="off">
     <span asp-validation-for="Code" class="text text-danger font-bold"  ></span>
  </div>
 <center>
      
  <button type="submit" class="btn btn-success">Save</button>
  <button type="reset" class="btn btn-danger">Cancel</button>
  <a asp-action="index" asp-controller="Department" class="btn btn-primary">Return</a>

 </center>
</form>
@section Valdiation{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

